/*
 * Global styling for Drive2Code
 */

/*
 * A color palatte inspired from from http://www.w3schools.com/colors/colors_palettes.asp
 * Try to change the values here instead of in each css class
 */
$footer-bg-color: #3b3a30;
$dark-accent: #b2c2bf;
$light-accent: #c0ded9;
$header-bg-color: #3b3a30;
$sidebar-bg-color: #3b3a30;

body {
  font-family: Helvetica, "Times New Roman", Times, sans-serif;
}

/* media queries */
@media (max-width: 375px) {
    #header-img {
        height: 150px;
        background-position: -300px -325px;
    }
}

@media (max-width: 2100px) {
    #header-img {
        background-position: 0 -325px
    }
}

@media(max-width: 2400px) {
    #header-img {
        background-position: 0 -400px
    }
}

@media(min-width: 2400px) {
    #header-img {
        background-position: 0 -500px
    }
}

#topnavbar {
  border-radius: 0px;
  margin: 0;
  z-index: 1;
}

#topnavbar.affix {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.8;
}

#navbar-search-input {
    border: solid 1px grey;
    width: 320px;
}

#navbar-search-icon {
    color: #999999;
}

#header-img {
  height: 250px;
  background-image: url('/images/d2c-splash.jpg');
  background-attachment: fixed;
  background-size: cover;
}

/*
 * Masthead for nav
 */
.blog-masthead {
  font-size: 20px;
  background-color: $header-bg-color;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #fff;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  background-color: black;
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: $dark-accent;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999999;
}


/* Main column and sidebar layout */
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
  color: #999999;
}

.sidebar-module-inset {
  padding: 20px;
  background-color: $sidebar-bg-color;
  border-radius: 8px;
}

.sidebar-module-inset img {
  height: 100px;
  float: right;
  margin: 5px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  color: #ffffff;
  background-color: $light-accent;
}

/* Styling for Tags */
.tag-label {
  background-color: $header-bg-color;
  margin-left: 5px;
  margin-right: 5px;
}

.tag-label:hover {
   background-color: $light-accent;
   color: black; 
}

/* Styling for tables */
table {
  @extend .table, .table-striped;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.blog-post-thumbnail {
  float: right;
  height: 250px;
}

/*
 * Footer
 */
.blog-footer {
  padding: 20px 0;
  color: #999;
  text-align: center;
  background-color: $footer-bg-color;
}

.blog-footer p:last-child {
  margin-bottom: 0;
  margin-top: 5px;
}

.blog-footer img, svg {
  height: 30px;
  margin: 5px;
}

/*
 * Styling for the thumbnail links used in /basics
 */
a.thumbnail-link {
  text-decoration: none;
}

.thumbnail-link:hover {
  background-color: $light-accent;
}

div.thumbnail-link {
  height: 425px;
}
