---
layout: page
title: Code Samples
---
{% for sample in site.samples %}
<div class="blog-post">

    <div class="sample-title">{{ sample.title }}</div>

    {% if sample.gist_tag %}
    {% gist sample.gist_tag %}
    {% endif %}

    {% if sample.github_repo %}
    <p>
      Link to Repo: <a href="{{ sample.github_repo }}">{{ sample.github_repo }}</a>
    </p>
    {% endif %}

    <p>
    {{ sample.summary | markdownify }} {% if sample.permalink %}...<a href="{{sample.url}}">View full sample here</a>{% endif %}
    </p>

    <b>Tags:</b> {% for tag in sample.tags %}<span class="label label-default tag-label">{{tag}}</span>{% endfor %}

</div>
{% endfor %}
