<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">

      <div class="blog-header">
        <h2 class="blog-title">{{site.title}}</h2>
        <p class="lead blog-description">{{site.description}}</p>
      </div>

      {{ content }}

    </div><!-- /.container -->

    {% include footer.html %}

    <script type="text/javascript">
      $('#topnavbar').affix({
        offset: {
            top: $('#header-img').height()
        }
      });
    </script>

    <script type="text/javascript">
        $.get("/search.json", function( data ) {
            $("#navbar-search-input").typeahead({
                source: data,
                matcher: function( item ) {

                    var normalizedTitle = item.name.toLowerCase();
                    var searchTerm = this.query.toLowerCase();

                    if ( normalizedTitle.includes(searchTerm) ) {
                        return true;
                    }

                    // else do a case insensitive tag search
                    if (item.tags && item.tags.length > 0) {
                        for (var i = 0; i < item.tags.length; i++) {
                            var normalizedTag = item.tags[i].toLowerCase();
                            if ( normalizedTag.startsWith(searchTerm) )
                                return true;
                        }
                    }

                },
                displayText: function( item ) {
                    if (item.name.length >= 50) {
                        return item.name.substring(0, 50) + '...';
                    } else {
                        return item.name;
                    }
                },
                afterSelect: function(selected) {
                    window.location = selected.url;
                }
             });
        }, 'json');
    </script>

  </body>

</html>
